.Moved {
  --ColorBlue:#03a9f4;
  --BackgroundHeader:white !important;
  --BtnColor:black;
  --Shadow:rgba(44, 44, 44, .4);
  --TextColor:black;
}
.Header_logo_img img:first-child,.Moved .Header_logo_img img:last-child{
  display: none;
}
.Moved .Header_logo_img img:first-child{display: block;}
.Header_bg{
  padding: 1rem 4rem;
  background: var(--BackgroundHeader);
  box-shadow: 1px 1px 15px 0px var(--Shadow);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 30;
  transition: .3s ease;
}
.Header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  max-width: 1725px;
  margin: 0 auto;
}

.Header_logo_img img{
  max-width: 100%;
  width: 300px;
}

.MainNav_Ul{
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: .95rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.MainNav_Ul > li > a{color: var(--TextColor);}
.MainNav_Ul > li::after{
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background:var(--ColorBlue);
  transform:scaleX(0);
  transition: .4s;
}

.MainNav_Ul .DropDown{
  display: flex;
  gap: .5rem;
  align-items: center;
  position: relative;
  padding-bottom: .5rem;
  top: .15rem;
}
.MainNav_Ul .DropDown::after{
  content: 'â¯';
  color: var(--TextColor);
  background:none;
  width: max-content;
  height: auto;
  transform: scaleX(1) rotate(90deg);
}
@media (min-width:901px) {
  .MainNav_Ul .DropDown:hover::after{
   transform: rotate(270deg);
  }
  .DropDown:hover  .DropDownList{
    display: block !important;
  }
  .MainNav_Ul > li:hover::after{
  transform: scaleX(1);
}
} 
.DropDown > a{
  position: relative;
  display: flex;
  align-items: center;
  gap: .5rem;
}
.DropDownList{
  position: absolute;
  top: 20px;
  left: 0;
  background: white;
  box-shadow: 1px 1px 15px 0 rgba(44, 44, 44, .4);
  border-radius: 10px;
}
.DropDown .Lastlist{left: -80px;}
.DropDownList li{
  width: 100%;
  color: rgba(55, 55, 55, .7);
  letter-spacing: 0;
} 
.DropDownList li a {
  font-size: .8rem;
  padding: .5rem 2rem .5rem 1rem;
  display: block;
  width: max-content;
  min-width: 100%;
  transition: .3s ease;
  border-radius: 10px;
}
.DropDownList li a:hover{
  color: var(--ColorBlue);
  background: rgba(222, 222, 222, .5);
}
.DropDownList li+li{
  border-top: 1px solid rgba(44, 44, 44, .4);
}


@media (max-width:1023px) {
  .Header_bg{
    padding: 1rem 2rem;
  }
  .MainNav_Ul{
    font-size: .8rem;
  }
}

@media (max-width:900px) {
  .Header_bg{
    padding: .5rem;
   
  }
  .Header_logo_img img{
    max-width: 170px;
  }
  .MainNav_Ul{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 200px;
    top: 0px;
    right: -100%;
    flex-direction: column;
    text-align: left;
    background: #222B34;
    padding-top: 6rem;
    align-items: flex-start;
    z-index: 10;
    gap: 0;
    transition: .3s;
  }
  .Background{
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(00, 00, 00, .6);
    opacity: 0;
    pointer-events: none;
    transition: .3s;
  }
  .DropDown::after{
    margin-right: .5rem;
    display: block !important;
    color: white !important;
  }

  .MainNav_Ul li{
    width: 100%;
  }
  .MainNav_Ul li::after{
    display: none;
  }
  .MainNav_Ul li:nth-child(1):hover,.MainNav_Ul li:nth-child(4):hover,.MainNav_Ul li:nth-child(5):hover {
    background: rgba(222, 222, 222, .5);
  }
  .MainNav_Ul .DropDown.click{
    background: rgba(222, 222, 222, .5);
  }
  .MainNav_Ul > li + li {
    border-top: 1px solid rgba(222,222,222,.5);
    color: white;
  }
  .MainNav_Ul > li > a{
    display: block;
    width: 100%;
    padding: .7rem 4rem .7rem 2rem;
    color: white;
    font-weight: 400;
    font-size: .7rem;
  }
  .DropDown > a{
    width: 100%;
  }
 .MainNav_Ul .DropDown{
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    top: 0;
    padding: 0;
    gap: 0;
  }
  .DropDown .DropDownList{
    position: relative;
    width: 100%;
    order: 3;
    grid-column: 1/-1;
    border-radius: 0;
    top: 0;
  }
 .DropDown .Lastlist{left: 0;}
  .DropDown:last-child{border-bottom: 1px solid rgba(222,222,222,.5);}
  .MainNav_Ul li:first-child{border-top: 1px solid rgba(222,222,222,.5);}
  .BtnBox{
    display: flex;
    flex-direction: column;
    gap: 3px;
    cursor: pointer;
    position: relative;
    z-index: 100;
    transition: .3s;
  }
  .MobileBtn{
    display: block;
    width: 20px;
    height: 3px;
    transition: .3s;
    background: var(--BtnColor);
  }
  .BtnBox::after,.BtnBox::before{
    content: '';
    display: block;
    position: relative;
    width: 100%;
    height: 3px;
    transition: .3s;
    background: var(--BtnColor);
  }
  .BtnBox.click{
    --BtnColor:white;
    transform: rotate(270deg);
  }
  .BtnBox.click ~ .MainNav_Ul{
    right: 0;
  }
  .BtnBox.click ~ .Background{
    pointer-events: all;
    opacity: 1;
  }
.DropDown{
  transition: .3s;
  max-height: 39px;
  overflow: hidden;
  transition: .3s ease;
}
   .DropDownList{
    display: block;
  } 
  .DropDown.click{
    animation: Grow .3s forwards;
  }
  .DropDown.click::after{
    transform: rotate(270deg) !important;
   }
  @keyframes Grow {
    from{
      max-height: 39px;
    }
    to{
      max-height: 100%;
    }
  }
}